@import "minima";

/** Mixin for responsive design **/
@mixin breakpoint($class) {
  /** Breakpoints based on Bootstrap4 **/
  @if $class == xs {
    @media (max-width: 575px) {
      @content;
    }
  } @else if $class == sm {
    @media (min-width: 576px) {
      @content;
    }
  } @else if $class == md {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $class == lg {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $class == xl {
    @media (min-width: 1140px) {
      @content;
    }
  } @else if $class == xxl {
    @media (min-width: 1180px) {
      @content;
    }
  } @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg and xl";
  }
}

html, body {
  height: 100%;
}

.UsersTableContainer {
    overflow-x: auto;
    height: 100%;
}

.User__cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: .5rem 0;
}

.User__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 20px;
  height: 100%;
}

.User__info__details {
  display: flex;
  flex-direction: column;
}

.User__place {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.User__image {
  width: 60px;
  min-width: 30px;
}

.Main {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    @include breakpoint(xl) {
        flex-direction: row;
    }
    &__Info {
      min-width: 250px;
      width: 20%;
    }
    &__Content {
      width: 50%;
      overflow-x: auto;
    }

    @include breakpoint(xs) {
      &__Content {
        width: 100%;
        overflow-x: auto;
      }
    }
}

.User {
  &__image {
    width: 60px;
    min-width: 30px;
  }
}
.column {
    padding: 20px;
}

table {
    font-size: 12px;
    thead {
        font-weight: 600;
    }
}

.contribute-button {
    padding-top: 30px;

    a {
        display: flex;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;

        svg {
            margin-right: 10px;
        }
    }


}

#flags {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 900px) {
  canvas {
    display: none;
  }
}